[submodule "svelte"]
	path = svelte
	url = git@github.com:priyangshu-datta/animan-svelte.git
[submodule "hono"]
	path = hono
	url = git@github.com:priyangshu-datta/animan-hono.git
[submodule "next"]
	path = next
	url = https://github.com/priyangshu-datta/animan-next
